openapi: 3.0.3
info:
  description: OpenAPI spec for leviathan
  title: Leviathan api
  version: 1.0.0
servers:
- url: http://localhost:9221
tags:
- description: Operation for managing courses
  name: Courses
- description: Creating and managing jobs
  name: Jobs
- description: Operations for controlling docker
  name: docker
- description: Operations related to stats
  name: stats
paths:
  /course:
    post:
      description: "Create a new course with the associated image name, Makefile,\
        \ and grading file"
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateCourse'
        description: "Input the course name, docker image and tarfile"
      responses:
        "200":
          description: Successful response
      tags:
      - Courses
  /course/{courseId}:
    delete:
      description: Deletes a course
      parameters:
      - explode: false
        in: path
        name: courseId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Response with the course ID
      tags:
      - Courses
    get:
      description: List all courses
      parameters:
      - explode: false
        in: path
        name: courseId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Success
      tags:
      - Courses
    patch:
      description: Edit course
      parameters:
      - explode: false
        in: path
        name: courseId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Success
      tags:
      - Courses
  /docker/images/create:
    post:
      description: Create a image from a dockerfile
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateImage'
        description: "Input the Dockerfile, tag name"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_docker_images_create_post_200_response'
          description: Successful creation
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error creating image
      tags:
      - docker
  /docker/images:
    get:
      description: List all images from a dockerfile
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_docker_images_get_200_response'
          description: List of images
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error listing image
      tags:
      - docker
  /docker/{containerId}:
    delete:
      description: Stops and deletes a container
      parameters:
      - explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error listing image
      tags:
      - docker
    get:
      description: Gets the container info based on ID
      parameters:
      - explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error listing image
      tags:
      - docker
  /docker/{containerId}/start:
    get:
      description: Start the container based on ID
      parameters:
      - explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error listing image
      tags:
      - docker
  /docker/{containerId}/stop:
    get:
      description: Stops the container based on ID
      parameters:
      - explode: false
        in: path
        name: containerId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error listing image
      tags:
      - docker
  /stats:
    get:
      description: Stats
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error getting stats
      tags:
      - stats
components:
  schemas:
    CreateCourse:
      properties:
        tarfile:
          format: binary
          type: string
        courseName:
          description: The name of the tar file being uploaded
          type: string
      required:
      - courseName
      - tarfile
      type: object
    DeleteCourse:
      properties:
        ID:
          description: ID the course
          type: string
      required:
      - ID
      type: object
    DockerImage:
      example:
        tag: tag
      properties:
        tag:
          description: Tag name
          type: string
      type: object
    CreateImage:
      properties:
        dockerFile:
          format: binary
          type: string
        tagName:
          description: The name of the tar file being uploaded
          type: string
      required:
      - dockerFile
      - tagName
      type: object
    ErrorResponse:
      example:
        reason: reason
      properties:
        reason:
          type: string
      type: object
    _docker_images_create_post_200_response:
      example:
        tagName: tagName
        logs: logs
      properties:
        logs:
          description: Logs generated when image was built
          type: string
        tagName:
          type: string
      type: object
    _docker_images_get_200_response:
      example:
        images:
        - tag: tag
        - tag: tag
      properties:
        images:
          description: List of images
          items:
            $ref: '#/components/schemas/DockerImage'
          type: array
      type: object
