name: Build kraken
on:
  workflow_dispatch:

  push:
    tags:
      - 'v*'  # match tags that start with v (like v1.0.0)
    branches:
      - dev
      - master
    paths:
      - '.github/workflows/kraken.yml'
      - 'kraken/**'

jobs:
  build-docker:
    runs-on: ubuntu-latest
    permissions:
      packages: write # to be able to publish docker images
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # docker image build
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: build and push kraken
        working-directory: ./kraken
        run: |
          REGISTRY="ghcr.io/${{ github.repository }}/kraken"
          GIT_TAG=$(git describe --tags 2>/dev/null || echo "develop")
          GIT_BRANCH=${GITHUB_REF#refs/heads/}

          docker build \
            -t ${REGISTRY}:${GIT_TAG} \
            -t ${REGISTRY}:${GIT_BRANCH} .

          if [[ ! -z "$GIT_TAG" && "$GIT_TAG" == v* ]]; then
          docker push ${REGISTRY}:${GIT_TAG}
          fi

          if [ ! -z "$GIT_BRANCH" ]; then
          docker push ${REGISTRY}:${GIT_BRANCH}
          fi
