# Builds leviathan images on master

name: Build master
#on:
#  push:
#    branches:
#      - master

jobs:
  build-docker:
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      packages: write # to be able to publish docker images
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # docker image build
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: build and push leviathan
        run: |
          docker build . -t ghcr.io/${{ github.repository }}:master
          docker push ghcr.io/${{ github.repository }}:master

      - name: build hydra
        working-directory: example/hydra
        run: docker build ../../ -f ./Dockerfile -t ghcr.io/makeopensource/hydra:master

      - name: push hydra
        run: docker push ghcr.io/makeopensource/hydra:master

      #      if the binary needs to built directly
      #      - name: Set up Go
      #        uses: actions/setup-go@v4
      #        with:
      #          go-version: '1.22'
      #      - name: Install dependencies
      #        run: go mod tidy
      #
      #      - name: Build
      #        run: go build -ldflags "-w -s" -o multipacman_linux_${{ steps.tagName.outputs.tag }}
      #
      #      - name: Upload Release Asset
      #        uses: softprops/action-gh-release@v2
      #        with:
      #          files: |
      #            multipacman_linux_${{ steps.tagName.outputs.tag }}
      #          tag_name: ${{ steps.tagName.outputs.tag }}
      #        env:
      #          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
