# Builds leviathan images on master

name: Build master
on:
  push:
    branches:
      - master
    paths:
      - 'src/**'

  pull_request:
    branches:
      - master
    paths:
      - 'src/**'

jobs:
  build-docker:
    runs-on: ubuntu-latest
    permissions:
      packages: write # to be able to publish docker images
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # docker image build
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: build and push leviathan
        run: |
          REGISTRY="ghcr.io/${{ github.repository }}"
          VERSION="${{ steps.tagName.outputs.tag }}"
          docker build . -t ${REGISTRY}:master
          docker push ${REGISTRY}:master

#      - name: build and push hydra
#        working-directory: hydra
#        run: |
#          REGISTRY="ghcr.io/makeopensource/hydra"
#          docker build . -t ${REGISTRY}:master
#          docker push ${REGISTRY}:master
